@font-face {
  font-family: 'GoodTimes';
  src: url('fonts/good_times/ot/good_times_rg.otf') format("opentype"),
       url('fonts/good_times/tt/good_times_rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.reveal{
	letter-spacing: normal;
}
.reveal .slides>section{
	min-height: 200px;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	font-family: "Open Sans", Arial, sans-serif;
	text-shadow: 0px -2px 5px rgba(85, 64, 52, 0.9);
	letter-spacing: normal;
}
.reveal .cursive{
	font-family: "Open sans";
	font-style: italic;
	font-size: 30px;
}
.reveal .thin{
	font-weight: 200;
}
.reveal section .bridgeit-logo{
	border: 0;
	float: left;
	width: 200px;
	height: 200px;
	-webkit-box-shadow: none;
	box-shadow: none !important;
	background: none;
	margin: -50px 0 0 0;
	position: absolute;
	left: 0;
	opacity: 0.3;
}
.reveal section .bridgeit-logo-titlepage{
	border: 0;
	width: 200px;
	-webkit-box-shadow: none;
	box-shadow: none !important;
	background: none;
	opacity: 0.3;
}
.bridgeit-font{
    font-family: GoodTimes, Arial !important;
    text-shadow: 0px -2px 5px rgba(85, 64, 52, 0.9);
}
.reveal i{
	font-style: normal;
}
i.contact-at {
	font-style: normal;
	font-size: 68px;
	padding: 0;
	line-height: 0;
	position: absolute;
	margin: 69px 0 0 27px;
}
.reveal .contact-icon{
	font-style: normal;
	font-size: 122px;
	line-height: 0;
	text-align: center;
	width: 200px;
	margin: 0 auto;
	opacity: 0.5;
}
.reveal .screenshot{
	width: 300px;
	margin-right: 100px;
}
.reveal pre {
	display: block;
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	text-align: left;
	font-size: 0.55em;
	font-family: monospace;
	line-height: 1.2em;
	word-wrap: break-word;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
.highlight span, .reveal code {
	font-size: 18px;
}
.features i{ 
	margin-right: 10px;
	width: 40px;
	display: inline-block;
}
.augmented-reality-icon{
	background-image: url(../assets/augmented-reality-icon-for-carousel.png);
	width: 40px;
	height: 47px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 2px -5px -10px -8px;
}